<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create page of CRUD App!!!</title>
</head>
<body>
Create page!
<a href="/admin/users">List All</a>
<form th:action="@{/admin/createUser}" th:object="${user}" method="POST" >

    <tr><p>First_Name: <input th:type="text" th:field="*{firstName}"></p></tr>
    <tr><p>Last_Name: <input th:type="text" th:field="*{lastName}"></p></tr>
    <tr><p>Age: <input th:type="number" th:field="*{age}"></p></tr>
    <tr><p>Email: <input th:type="text" th:field="*{email}"></p></tr>
    <tr><p>Username <input th:type="text" th:field="*{username}"></p></tr>
    <tr><p>Password: <input th:type="text" th:field="*{password}"></p></tr>

    <select th:field="*{roles}">
        <option th:value="ROLE_ADMIN" th:utext="ADMIN">ADMIN</option>
        <option th:value="ROLE_USER" th:utext="USER">USER</option>
    </select>

    <tr><p>Action: <input th:type="submit" th:value="Submit"></p></tr>

</form>
</body>
</html>