<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello! This is Hello page of CRUD App!!!</title>
    <style>
        table {
            width: 100%; /* Ширина таблицы */
            background: white; /* Цвет фона таблицы */
            color: white; /* Цвет текста */
            border-spacing: 1px; /* Расстояние между ячейками */
        }
        td, th {
            background: maroon; /* Цвет фона ячеек */
            padding: 5px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
Hello page!
<a href="/admin/create">Create</a> or
<a href="/admin/users">List All</a> or
<a href="/user">Infopage</a> or
<a href="/logout">Logout</a>
<table>
    <tr>
        <th>ID</th>
        <th>FIRSTNAME</th>
        <th>LASTNAME</th>
        <th>AGE</th>
        <th>E-MAIL</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>ROLES</th>
        <th>ACTION</th>
    </tr>
    <tr th:each="user : ${listOfUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>


                <td>
                    <table>
                        <tbody>
                        <tr th:each="role : ${rolesDTO[user.id]}">
                            <td th:text="${role}"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>


        <td>
            <table>
                <tbody>
                <tr>
                    <td><a th:href="'/admin/updateuser?firstName=' + ${user.firstName} + '&lastName=' +
                    ${user.lastName} + '&username=' + ${user.username} + '&password=' +
                    ${user.password} + '&email=' +${user.email} + '&id=' + ${user.id} + '&age=' + ${user.age} +
                    '&rolesDTO=' + 'ROLE_USER' + '&rolesDTO=' + 'ROLE_ADMIN'"
                           th:text="Update" >Update</a></td>
                    <td><a th:href="'/admin/delete/'+${user.id}" th:text="Delete" >Delete</a></td>
                    <td><a th:href="'/admin/user/'+${user.id}" th:text="InfoPage" >Info</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>


</body>

